app = 'orchon-pocketbase'
primary_region = 'syd'

[build]

[env]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[mounts]
  source = "pb_data"
  destination = "/pb/pb_data"

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
