svg.svelte-hoqwi7{shape-rendering:geometricPrecision;text-rendering:optimizeLegibility}svg.svelte-hoqwi7 text:where(.svelte-hoqwi7){-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
